* {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #263238;
  border-color: transparent; }

@font-face {
  font-family: "CODE Light";
  src: url("../fonts/Code/CODE Light.otf"); }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf"); }

body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #263238;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden; }
  body .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    transition: all 0.5s;
    box-sizing: border-box;
    padding-right: 2%;
    z-index: 3; }
    @media only screen and (max-width: 424px) {
      body .nav {
        padding-right: 5%; } }
    body .nav .navigation {
      width: 30%;
      height: 100%;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      list-style: none; }
      @media only screen and (max-width: 1210px) {
        body .nav .navigation {
          width: 30%; } }
      @media only screen and (max-width: 992px) {
        body .nav .navigation {
          width: 55%; } }
      @media only screen and (max-width: 601px) {
        body .nav .navigation {
          width: 100%; } }
      body .nav .navigation li {
        height: 50%;
        width: 24%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Code Light';
        font-size: 0.7rem;
        color: #fbfbfb;
        text-decoration: none;
        background-color: transparent;
        text-align: center;
        box-sizing: border-box;
        padding-top: 5px;
        cursor: pointer;
        border-bottom: 1px solid transparent; }
        body .nav .navigation li:hover {
          color: #00fbfb;
          border-bottom: 1px solid #00fbfb; }
        @media only screen and (max-width: 330px) {
          body .nav .navigation li {
            font-size: 0.6rem; } }
  body .landing-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    body .landing-section .wrapper {
      position: relative;
      width: 70%;
      height: 20%; }
      @media only screen and (max-width: 992px) {
        body .landing-section .wrapper {
          width: 95%; } }
      @media only screen and (max-width: 601px) {
        body .landing-section .wrapper {
          width: 100%; } }
      body .landing-section .wrapper .logo {
        position: relative;
        width: 100%;
        height: 80%;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        margin-left: -5%; }
        @media only screen and (max-width: 992px) {
          body .landing-section .wrapper .logo {
            margin-left: -5%; } }
        @media only screen and (max-width: 601px) {
          body .landing-section .wrapper .logo {
            margin-left: -7%; } }
        @media only screen and (max-width: 424px) {
          body .landing-section .wrapper .logo {
            margin-left: -8%; } }
        body .landing-section .wrapper .logo .ltr1 {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end; }
          body .landing-section .wrapper .logo .ltr1 h1 {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;
            font-family: "Code Light";
            font-weight: lighter;
            font-size: 2.5rem;
            color: #fbfbfb; }
            @media only screen and (max-width: 601px) {
              body .landing-section .wrapper .logo .ltr1 h1 {
                font-size: 1.5rem; } }
            @media only screen and (max-width: 330px) {
              body .landing-section .wrapper .logo .ltr1 h1 {
                font-size: 1.2rem; } }
        body .landing-section .wrapper .logo .ltr2 {
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end; }
          body .landing-section .wrapper .logo .ltr2 h1 {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            font-family: "Code Light";
            font-weight: lighter;
            font-size: 2.5rem;
            color: #00fbfb; }
            @media only screen and (max-width: 601px) {
              body .landing-section .wrapper .logo .ltr2 h1 {
                font-size: 1.5rem; } }
            @media only screen and (max-width: 330px) {
              body .landing-section .wrapper .logo .ltr2 h1 {
                font-size: 1.2rem; } }
      body .landing-section .wrapper .aditional-text {
        position: relative;
        width: 100%;
        height: 20%;
        background-color: transparent;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fbfbfb;
        box-sizing: border-box;
        padding-left: 3%; }
        @media only screen and (max-width: 601px) {
          body .landing-section .wrapper .aditional-text {
            padding-left: 0; } }
        body .landing-section .wrapper .aditional-text .ltr {
          font-size: 0.8rem;
          font-family: "Code Light";
          font-weight: lighter; }
          @media only screen and (max-width: 601px) {
            body .landing-section .wrapper .aditional-text .ltr {
              font-size: 0.5rem; } }
          @media only screen and (max-width: 330px) {
            body .landing-section .wrapper .aditional-text .ltr {
              font-size: 0.4rem; } }
  body .gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
    body .gallery .images {
      position: relative;
      width: 90%;
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      box-sizing: border-box;
      background-color: transparent; }
      @media only screen and (max-width: 1210px) {
        body .gallery .images {
          height: 70%; } }
      @media only screen and (max-width: 992px) {
        body .gallery .images {
          height: 50%; } }
      @media only screen and (max-width: 330px) {
        body .gallery .images {
          height: 40%; } }
      body .gallery .images .img {
        position: relative;
        width: 50%;
        height: 98%;
        box-sizing: border-box; }
      body .gallery .images .image1 {
        position: relative;
        transform: scale(1);
        z-index: 1; }
        body .gallery .images .image1 img {
          width: 100%;
          height: 100%; }
      body .gallery .images .image2 {
        position: relative;
        transform: scale(1.01);
        z-index: 2;
        margin-left: -20%;
        margin-right: -20%;
        box-shadow: 0 0 18px #000001; }
        body .gallery .images .image2 img {
          width: 100%;
          height: 100%; }
      body .gallery .images .image3 {
        position: relative;
        transform: scale(1);
        z-index: 1; }
        body .gallery .images .image3 img {
          width: 100%;
          height: 100%; }
  body .about {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .about .wrapper {
      position: relative;
      width: 80%;
      height: 80%;
      background-color: transparent;
      display: flex;
      flex-direction: column; }
      body .about .wrapper .title {
        position: relative;
        width: 100%;
        height: 40%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Code Light";
        font-weight: lighter;
        font-size: 2.5rem;
        color: #00fbfb;
        box-sizing: border-box; }
        @media only screen and (max-width: 601px) {
          body .about .wrapper .title {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 330px) {
          body .about .wrapper .title {
            font-size: 1rem; } }
      body .about .wrapper .content {
        position: relative;
        width: 100%;
        height: 60%;
        background-color: transparent;
        font-family: "Roboto", sans-serif;
        color: #fbfbfb;
        font-size: 0.8rem;
        font-weight: 100;
        text-align: center;
        box-sizing: border-box;
        padding: 2% 10% 10% 5%; }
        @media only screen and (max-width: 601px) {
          body .about .wrapper .content {
            font-size: 0.5rem; } }
  body .contact {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .contact .wrapper {
      position: relative;
      width: 80%;
      height: 90%;
      background-color: transparent;
      display: flex;
      flex-direction: column; }
      body .contact .wrapper .title {
        position: relative;
        width: 100%;
        height: 20%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Code Light";
        font-weight: lighter;
        font-size: 2.5rem;
        color: #00fbfb; }
        @media only screen and (max-width: 601px) {
          body .contact .wrapper .title {
            font-size: 1.5rem; } }
        @media only screen and (max-width: 330px) {
          body .contact .wrapper .title {
            font-size: 1rem; } }
      body .contact .wrapper .content {
        position: relative;
        width: 100%;
        height: 80%;
        background-color: transparent;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        body .contact .wrapper .content .header {
          position: relative;
          width: 100%;
          height: 10%;
          font-family: "Roboto", sans-serif;
          color: #fbfbfb;
          font-size: 0.8rem;
          font-weight: 100;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media only screen and (max-width: 601px) {
            body .contact .wrapper .content .header {
              font-size: 0.5rem; } }
        body .contact .wrapper .content .form {
          position: relative;
          width: 100%;
          height: 90%;
          background-color: transparent;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-sizing: border-box; }
          body .contact .wrapper .content .form input {
            position: relative;
            width: 50%;
            height: 5%;
            box-sizing: border-box;
            margin: 2%;
            padding: 0.5%;
            font-size: 0.3em;
            font-weight: lighter;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: 1px solid #00fbfb;
            color: #00fbfb; }
            body .contact .wrapper .content .form input:focus {
              border: none; }
            @media only screen and (max-width: 992px) {
              body .contact .wrapper .content .form input {
                width: 70%;
                height: 10%; } }
          body .contact .wrapper .content .form .message {
            position: relative;
            width: 50%;
            height: 5%;
            max-width: 50%;
            min-width: 50%;
            min-height: 5%;
            max-height: 40%;
            box-sizing: border-box;
            margin: 2%;
            padding: 0.2%;
            font-size: 0.3em;
            font-weight: lighter;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: 1px solid #00fbfb;
            margin-top: 5%;
            color: #00fbfb; }
            body .contact .wrapper .content .form .message:focus {
              border: none; }
            @media only screen and (max-width: 992px) {
              body .contact .wrapper .content .form .message {
                width: 70%;
                max-width: 70%;
                min-width: 70%;
                height: 10%; } }
          body .contact .wrapper .content .form:-webkit-input-placeholder {
            color: #EAEAEA;
            font-size: 0.3em;
            letter-spacing: 2px; }
          body .contact .wrapper .content .form .btnSubmit {
            position: relative;
            width: 10%;
            height: 10%;
            box-sizing: border-box;
            margin-top: 2%;
            font-size: 0.35em;
            border: none;
            border-radius: 3px;
            background-color: #00fbfb;
            color: #fbfbfb;
            display: flex;
            justify-content: center;
            align-items: center; }
            body .contact .wrapper .content .form .btnSubmit:hover {
              transform: scale(1.05);
              box-shadow: 0 0 10px #000001; }
            @media only screen and (max-width: 992px) {
              body .contact .wrapper .content .form .btnSubmit {
                width: 20%;
                height: 10%; } }
